.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #F0B429;
}

.menu {
    padding: 20px;
    background-color: #005883;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float: center;
}
.tablas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: center;
    color: #005883;
    padding: 15px;
}

*{margin:0;padding:0;}  
nav a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:0px 0px;
      background-color:#005883;
      border:1px solid #005883;
      text-align:center;
      color:#fff;
      position:relative;
}
            
nav li:hover{
      background-color:#F0B429;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}
